<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="/gobe/static/gobe.js"></script>
    <script>
if (!window.console){ console = {}; console.log = function(){}; console.debug = console.error = console.log; }

Gobe.onclick = function(args){
    var id = args[0], name = args[1], ftype = args[2],
             bpmin = args[3], bpmax = args[4], px = args[5], track_id = args[6];
   jQuery('#querybox').html((name || id) + ":" + ftype + ", " + bpmin + ".." + bpmax);
   jQuery.get('/atcns/query/' + name, function(r){
       var q = jQuery('#querybox');
       q.html(q.html() + "<br/>" + r);
   });
}

function get_locs(rng){
    var r = rng.split(/\.\./);
    return {org: r[0], seqid: r[1], start: parseInt(r[2]), end: parseInt(r[3])};
}
function join_locs(loc){
    return [loc.org, loc.seqid, Math.round(loc.start), Math.round(loc.end)].join("..");
}

jQuery(function(){
    var get = swfobject.getQueryParamValue;
    jQuery('.rc').click(function(){
        var tokens = this.id.split("_");
        var txtbox = jQuery("#" + tokens[0] + "_loc");
        var loc = get_locs(txtbox.val());
        var tmp = loc.start
        loc.start = loc.end;
        loc.end = tmp;
        txtbox.val(join_locs(loc));
        jQuery('#go').click();
    });
    jQuery(".move").click(function(){
        // go from 0_left to 0_loc
        var tokens = this.id.split("_");
        var txtbox = jQuery("#" + tokens[0] + "_loc");
        var locs = get_locs(txtbox.val());
        var rng = locs.end - locs.start;
        var pmove = 0.4 // move 40% of current width.
        var dir = tokens[1] == "right" ? 1 : -1
        locs.start += dir * pmove * rng;
        locs.end += dir * pmove * rng;
        txtbox.val(join_locs(locs))
        jQuery('#go').trigger('click');
    });

    jQuery(".zoom").click(function(){
        var tokens = this.id.split("_");
        var txtbox = jQuery("#" + tokens[0] + "_loc");
        var dir = tokens[1] == "in" ? -1 : +1;
        var pmove = 0.40;
        var locs = get_locs(txtbox.val());
        var flip = locs.start > locs.end;
        var rng = locs.end - locs.start;
        if (dir == -1){ pmove /= 2; }
        locs.start -= pmove * dir * rng;
        locs.end += pmove * dir * rng;

        // this checks if zoomed in too far, but dont want to correct
        // for start > end if it's that way because requesting rc.
        if (! flip && locs.start > locs.end) {
            var mid = (locs.end + locs.start) / 2;
            locs.start = mid - 100;
            locs.end = mid + 100;
        }
        txtbox.val(join_locs(locs));
        jQuery('#go').click();
    });

});

    </script>
<style>
</style>
</head>
<body>
<input type="submit" onclick="switchcss()" value="Change Style" /> |
<input type="submit" onclick="Gobe.clear()" value="Clear" /><br/>
<table>
    <tr>    <th></th> <th></th> <th></th> </tr>
    <tr>
        <td>
            <button id="0_left" class="move">&lt;&lt;</button><br/>
            <button id="0_rc" class="rc">r-c</button>
        </td>
        <td rowspan="${len(locs)}">
<div id="flashcontent" name="flashcontent" style="z-index=0;position:absolute:align:left;width:1100px">
    <strong>You need to install <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Flash Player</a> (or turn it back on in your browser settings).</strong>
</div>
        </td>
        <td>
            <button id="0_right" class="move">&gt;&gt;</button>
            <button id="0_out" class="zoom">-</button>
            <button id="0_in" class="zoom">+</button>
        </td>
    </tr>
    %for i, loc in enumerate(locs[1:]):
    <tr>
        <td>
            <button id="${i+1}_left" class="move">&lt;&lt;</button><br/>
            <button id="${i+1}_rc" class="rc">r-c</button>
        </td>
        <td>
            <button id="${i+1}_right" class="move">&gt;&gt;</button>
            <button id="${i+1}_out" class="zoom">-</button>
            <button id="${i+1}_in" class="zoom">+</button>
        </td>
    </tr>
    %endfor
</table>

<div>
%for i, loc in enumerate(locs):
    <div class="loc_div">
        ${loc.org} loc:<input type="text" name="locs" id="${i}_loc" value="${loc}" size="${len(str(loc))}"/>
    </div>
%endfor
    <input type="submit" value="go" id="go" />
</div>

<div id="querybox"></div>
<ul>
    <li>click a gray HSP to see its pair.</li>
    <li>shift-click in a track to draw lines to all HSPs</li>
</ul>

<script type="text/javascript">
        // <![CDATA[
        var CSS = ['/gobe/static/gobe.css', '/gobe/static/blue.css'];
        var get = swfobject.getQueryParamValue;
        var width = get('w') || "1010";
        var height = get('h') || "300";
        var params = {'bgcolor': '#FFFFFF'};

        jQuery('#go').click(function(){
                var locs = jQuery('.loc_div > input');
                var url = locs.serialize();
                var gc = get('gc');
                url += "&gc=" + gc.toString();

                Gobe.swf.set_url(window.location.pathname + "annos/?" + url);

        });
        var flashVars = {
            'annotations': escape('${anno_url}'),
            'default_style'  : get('default_style') || '/gobe/static/gobe.css',
            'style'  : CSS[0]
        };
        function embed(){
            swfobject.embedSWF("/gobe/flash/gobe.swf?d=" + Math.random(), "flashcontent", width, height, "9.0.0"
                    , "static/swfobject/expresssinstall.swf", flashVars, params, {}
                    , function(){ Gobe.swf = Gobe.get_movie(); });

        }
        embed();

        function switchcss(){
            flashVars.style = CSS[1];
            var t = CSS[0];
            CSS[0] = CSS[1]; CSS[1] = t;
            embed();
        }
        // ]]>
    </script>
</body>
</html>
